* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

}

a:hover {
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: orange;
}

body {
  margin: 0;
  background-image: url("./網頁資料/BANNER/網頁背景.jpg");
}

.topbtn {
  cursor: pointer;

  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 150px;
  transition: 0.25s;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  img {
    width: 100%;
  }

  @media (max-width:991px) {}

  @media (max-width:768px) {}

  @media (max-width:375px) {
    width: 100px;
  }
}

.container-fluid {
  @media (max-width:768px) {
    margin-left: unset;
  }

  .banner {
    display: flex;
    position: relative;

    @media (max-width:375px) {}

    .row {
      width: 100%;

      .swiper-container {
        height: 100%;

        .banner1 {
          background-image: url("./網頁資料/BANNER/BANNER-012.jpg");
          background-size: cover;
          background-position: center;
          // @media (max-width:991px) {      height: 70px;}
        }

        .banner1-2 {
          background-image: url("./網頁資料/BANNER/BANNER-04.jpg");
          background-size: cover;
          background-position: center;
        }

        .banner1-3 {
          background-image: url("./網頁資料/BANNER/BANNER-05.jpg");
          background-size: cover;
          background-position: center;
        }
      }

      .banner2 {
        width: 104%;
        height: 100vh;
        background-image: url("./網頁資料/BANNER/京都宇治茶文化滿版-05.jpg");
        background-size: cover;
        // background-repeat: no-repeat;
        background-position: center;

        @media (max-width: 991px) {
          width: 107%;
        }

        @media (max-width:768px) {
          width: 110%;
        }

        @media (max-width:414px) {
          width: 118%;
        }
        @media (max-width:375px) {
          width: 120%;
        }
      }
    }

    a {
      .arrow {
        width: 20px;
        height: 70px;
        position: absolute;
        bottom: 30px;
        right: 30px;
        z-index: 9999;
      }
    }
  }
}

nav {
  margin-bottom: 80px;
  width: 100%;

  @media (max-width: 991px) {
    width: 100%;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  @media (max-width: 375px) {
    width: 100%;
  }

  .white {
    width: 200px;

    @media (max-width: 991px) {
      margin-left: 170px;
    }
    @media (max-width: 414px) {
      margin-left: 0px;
    }
    @media (max-width: 375px) {
      margin-left: 0px;
      width: 180px;
    }

    img {
      width: 100%;
    }


  }

  .navbar-toggler-icon {
    // background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round'   stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-image: url('../網頁資料/BANNER/59165.png');
    width: 50px;
  }

  .navbar-toggler {
    outline: none;

  }

  .navbar-nav {
    .nav-item {
      font-family: "微軟正黑體";
      letter-spacing: 5px;
      margin: 0 15px;
      position: relative;

      &:hover {
        /*  navBar hover 時 標題區塊變灰 文字變黑 轉換時間 0.3S */
        background-color: lightgray;
        transition: 0.3s linear;
        color: rgba(0, 0, 0, 0.568);
        border-radius: 10px;
      }
    }

    .icon_1::before {
      content: url("/網頁資料/BANNER/MENU-01new\ \(4\).png");
      position: absolute;
      left: -50px;
      top: -15px;

      @media (max-width: 991px) {
        left: 230px;
      }
      @media (max-width: 414px) {
        left: 200px;
      }
      @media (max-width: 375px) {
        left: 170px;
      }
    }

    .icon_2::before {
      content: url("/網頁資料/BANNER/MENU-01new\ \(6\).png");
      position: absolute;
      left: -65px;
      top: -15px;

      @media (max-width: 991px) {
        left: 215px;
      }
      @media (max-width: 414px) {
        left: 184px;
      }
      @media (max-width: 375px) {
        left: 155px;
      }
    }

    .icon_3::before {
      content: url("/網頁資料/BANNER/MENU-01new\ \(1\).png");
      position: absolute;
      left: -70px;
      top: -15px;

      @media (max-width: 991px) {
        left: 205px;
      }
      @media (max-width: 414px) {
        left: 178px;
      }
      @media (max-width: 375px) {
        left: 150px;
      }
    }

    .icon_4::before {
      content: url("/網頁資料/BANNER/MENU-01new\ \(2\).png");
      position: absolute;
      left: -70px;
      top: -15px;

      @media (max-width: 991px) {
        left: 205px;
      }
      @media (max-width: 414px) {
        left: 175px;
      }
      @media (max-width: 375px) {
        left: 147px;
      }
    }

    .icon_5::before {
      content: url("/網頁資料/BANNER/MENU-01new\ \(5\).png");
      position: absolute;
      left: -65px;
      top: -10px;

      @media (max-width: 991px) {
        left: 210px;
      }
      @media (max-width: 414px) {
        left: 178px;
      }
      @media (max-width: 375px) {
        left: 152px;
      }
    }

    .icon_6::before {
      content: url("/網頁資料/BANNER/MENU-01new\ \(3\).png");
      position: absolute;
      left: -65px;
      top: -10px;

      @media (max-width: 991px) {
        left: 210px;
      }
      @media (max-width: 414px) {
        left: 180px;
      }
      @media (max-width: 375px) {
        left: 152px;
      }
    }
  }
}

#section1 {
  // height: 90vh;
  margin-bottom: 247px;

  .container {

    // height: 90vh;

    .title1 {
      width: 300px;

      img {
        width: 100%;
        // margin-top: 80px;
        margin-bottom: 120px;
      }
    }

    .title1.drop-shadow {
      filter: drop-shadow(5px 5px 3px rgba(41, 41, 41, 0.7));
    }

    .sect1p {
      writing-mode: vertical-rl;
      padding: 0 40px 0 0px;
      margin-top: 100px;

      @media (max-width: 991px) {
        padding: 0 160px 0 0px;
      }
      @media (max-width: 414px) {
        padding: 0;
      }
      @media (max-width: 375px) {
        padding: 0px;
      }

      .p1 {
        font-size: 18px;
        font-family: "微軟正黑體";
        font-weight: bolder;
        line-height: 45px;
        letter-spacing: 5px;
        // text-align: center;
      }

      .p2 {
        font-size: 24px;
        font-family: "微軟正黑體";
        font-weight: bold;
        letter-spacing: 5px;
        margin: 0 50px;

        @media (max-width: 375px) {
          margin: 0 30px;
        }
      }

      .text-line {
        position: relative;
        padding-top: 40px;
      }

      .text-line::before {
        content: "";
        border-left: 2px solid black;
        padding-top: 40px;
        position: absolute;
        top: -7px;
        left: calc(50% - 1px);
      }

      .p3 {
        font-size: 18px;
        font-family: "微軟正黑體";
        // font-weight: bolder;
        letter-spacing: 5px;
        line-height: 45px;
      }
    }

    .section1img {
      margin-top: 100px;

      @media (max-width: 991px) {
        width: 400px;
        margin: auto;
      }
      @media (max-width: 414px) {
        width: 300px;
      }
      @media (max-width: 375px) {
        width: 250px;
      }

      img {
        width: 100%;
      }
    }
  }
}

.section1-1 {
  width: 100%;
  height: 40vh;
  background-image: url('./網頁資料/section1-1/333.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.8;
}

#section2 {
  margin-bottom: 150px;

  // }
  // .mask{
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(255, 255, 255, 0.5);
  .container {


    @media (max-width: 768px) {
      margin: auto;
    }

    // height: 100vh;

    //  background-repeat: no-repeat;
    // }

    .title2 {
      width: 350px;
      filter: drop-shadow(5px 5px 3px rgba(41, 41, 41, 0.7));

      img {
        // margin-top: 5px;
        width: 100%;
      }
    }

    .row {
      height: 60vh;
      background-image: url("./網頁資料/section2/section2bg.jpg");
      background-size: cover;
      overflow: hidden;
      @media (max-width: 414px) {
        height: 100vh;
      }
      @media (max-width: 375px) {
        height: 90vh;
      }
      .x2 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media (max-width: 991px) {
          padding: 0;
        }

        .sect2p {

          writing-mode: vertical-rl;
          padding-top: 60px;

          @media (max-width: 991px) {}
          @media (max-width: 414px) {
            padding: 0;
            padding-right: 30px;
          }
          @media (max-width: 375px) {
            padding: 0;
            padding-right: 30px;
          }

          .p1 {
            font-size: 24px;
            font-family: "微軟正黑體";
            font-weight: bolder;
            line-height: 45px;
            letter-spacing: 5px;
            padding-top: 60px;

            @media (max-width: 991px) {}

            @media (max-width: 375px) {
              padding: 0;
              padding-top: 10px;
            }
          }

          .text-line2 {
            position: relative;
          }

          .text-line2::before {
            content: "";
            border-left: 2px solid black;
            padding-top: 30px;
            position: absolute;
            top: 60px;
            right: calc(50% - 1px);
          }

          .p2 {
            font-size: 18px;
            font-family: "微軟正黑體";

            line-height: 45px;
            letter-spacing: 5px;
            padding-top: 150px;

            @media (max-width: 991px) {
              line-height: 40px;
            }

            @media (max-width: 375px) {
              padding-top: 60px;
            }
          }
        }
      }

      .x2-1 {

        display: flex;
        align-items: center;

        @media (max-width: 991px) {}

        .section2img {

          padding-right: 60px;


          @media (max-width: 991px) {
            padding-right: 0;
          }

          img {
            width: 100%;
          }


        }
      }
    }
  }
}

#section2-1 {
  margin-bottom: 150px;

  .container {
    overflow: hidden;

    @media (max-width: 768px) {
      // margin: auto;
    }

    .row {
      .col-lg-3 {
        position: relative;
        z-index: 1;

        .linebg {
          padding-left: 100px;
          position: relative;

          @media (max-width: 991px) {
            padding: 15px;
          }
        }

        .allbtn {
          .btnimg {
            max-width: 130px;
            transition: 1s;
            height: 38px;
            overflow: hidden;

            img {
              width: 100%;
            }

            .btn-textbg {
              width: 800px;
              margin-top: -60px;
              margin-left: 140px;
              font-size: 18px;
              font-family: "微軟正黑體";
              color: white;
              padding: 30px;
              background-color: rgba(75, 75, 75, 1);
              opacity: 0;
              transition: 1s;

              @media (max-width: 991px) {
                width: 600px;
              }
              @media (max-width: 414px) {
                width: 270px;
              }
              @media (max-width: 375px) {
                width: 230px;
              }
            }

            &:hover {
              cursor: pointer;
              overflow: unset;
            }

            &:hover .btn-textbg {
              opacity: 1;
            }
          }

          .btn1 {
            position: absolute;
            top: 120px;
            left: calc(50% - 58px);

            @media (max-width: 991px) {
              left: calc(50% - 360px);
            }

            // .btn1-textbg {
            //   width: 500px;
            //   margin-top: -60px;
            //   margin-left: 140px;
            //   font-size: 18px;
            //   font-family: '微軟正黑體';
            //   color: white;
            //   padding: 30px;
            //   background-color: rgb(75, 75, 75);
            //   opacity: 0;
            //   transition: 1s;
            // }
          }

          .btn2 {
            position: absolute;
            top: 260px;
            left: 85px;

            @media (max-width: 991px) {
              left: 0px;
            }
          }

          .btn3 {
            position: absolute;
            top: 400px;
            left: 85px;

            @media (max-width: 991px) {
              left: 0px;
            }
          }

          .btn4 {
            position: absolute;
            top: 550px;
            left: 85px;

            @media (max-width: 991px) {
              left: 0px;
            }
          }

          .btn5 {
            position: absolute;
            top: 700px;
            left: 85px;

            @media (max-width: 991px) {
              left: 0px;
            }
          }

          .btn6 {
            position: absolute;
            top: 850px;
            left: 85px;

            @media (max-width: 991px) {
              left: 0px;
            }
          }
        }
      }

      .sectp2-1 {
        writing-mode: vertical-rl;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;

        .p1 {
          // margin: 0;
          font-size: 24px;
          font-family: "微軟正黑體";
          font-weight: bold;
          letter-spacing: 5px;
          position: relative;
        }

        .text-line2-1::before {
          content: "";
          border-left: 2px solid black;
          padding-top: 30px;
          position: absolute;
          top: 60px;
          right: calc(50% - 1px);
        }

        .p2 {
          font-size: 18px;
          font-family: "微軟正黑體";
          letter-spacing: 5px;
          line-height: 130px;

          @media (max-width: 991px) {
            line-height: 110px;
          }
          @media (max-width: 414px) {
            line-height: 60px;
          }
          @media (max-width: 375px) {
            line-height: 55px;
          }
        }
      }

      .sect2-1img {

        // width: 600px;
        img {
          width: 100%;
        }
      }
    }
  }
}

#section2-2 {
  margin-bottom: 100px;

  overflow: hidden;

  .container {

    // overflow: hidden;    
    .swiper-container {
      // overflow: hidden;
      width: 100%;

      --swiper-theme-color: #27411c;
      --swiper-navigation-size: 60px;
      font-weight: bolder;

      .swiper-wrapper {
        @media (max-width: 991px) {
          // display: flex;
          align-items: center;
        }

        .swiper-slide {
          // display: flex;

          .allp1 {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            @media (max-width: 991px) {
              margin: 0;
              padding: 0;
            }
            @media (max-width: 414px) {
              padding: 0px;
              padding-right: 50px;
            }
            @media (max-width: 375px) {
              padding-right: 50px;
            }

            .p1 {
              // padding-left: 340px;
              writing-mode: vertical-lr;
              font-size: 24px;
              font-family: "微軟正黑體";
              font-weight: bold;
              letter-spacing: 5px;

              @media (max-width: 375px) {}
            }

            .line {
              position: relative;
            }

            .line::before {
              content: "";
              border-left: 2px solid black;
              padding-top: 30px;
              position: absolute;
              top: 55px;
              left: calc(50% - 2px);
            }

            .p1-2 {
              padding-top: 35px;
              padding-right: 35px;
              writing-mode: vertical-rl;
              font-size: 18px;
              font-family: "微軟正黑體";
              line-height: 50px;
              letter-spacing: 5px;
              overflow: hidden;

              @media (max-width: 991px) {
                padding-right: 0px;
                line-height: 40px;
              }

              @media (max-width: 375px) {
                line-height: 35px;
              }

            }
          }
.qq2-1{display: flex;
  justify-content: center;

          .p1img {
            padding-right: 50px;

            img {
              width: 100%;
            }

            @media (max-width: 991px) {
              margin-top: 100px;
            }
            @media (max-width: 414px) {
              width: 200px;
              padding: 0;
          
              margin: 0px;
            }
            @media (max-width: 375px) {
              display: none;
            }
          }
        }
        .qq2-2{
          display: flex;
          justify-content: center;
          .p2img {
            padding-left: 50px;

            @media (max-width: 991px) {
              margin-top: 50px;
              // width: 400px;
            }
            @media (max-width: 414px) {
              width: 200px;
              padding: 0;
          
              margin: 0px;
            }
            @media (max-width: 375px) {
              display: none;
            }

            img {
              width: 100%;
            }
          }
        }
       
          .allp2 {

            // padding-left: 30px;
            @media (max-width: 991px) {
              padding: 0;
            }
            @media (max-width: 414px) {
          padding-left: 60px;
            }

            @media (max-width: 375px) {
              padding: 50PX 60PX;

            }

            .p2 {
              font-size: 24px;
              font-family: "微軟正黑體";
              font-weight: bold;
              letter-spacing: 5px;
            }

            .line2-2 {
              position: relative;
            }

            .line2-2::before {
              content: "";
              border-top: 2px solid black;
              padding-left: 30px;
              position: absolute;
              top: 19px;
              left: calc(50% - -55px);
            }

            .p2title {
              padding-top: 15px;
              // margin-bottom:5px ;
              font-size: 20px;
              font-family: "微軟正黑體";
              font-weight: bold;

              @media (max-width: 991px) {
                padding-top: 0px;
              }
            }

            .p2-2 {
              font-size: 18px;
              font-family: "微軟正黑體";
              line-height: 50px;

              @media (max-width: 991px) {
                line-height: 20px;
                font-size: 16px;
                padding-right: 50px;
              }
              @media (max-width:414px) {}
              @media (max-width: 375px) {
                padding: 0;
              }
            }

            .p2-1title {
              padding-top: 15px;
              // margin-bottom:5px ;
              font-size: 20px;
              font-family: "微軟正黑體";
              font-weight: bold;

              @media (max-width: 991px) {
                padding-top: 0px;
              }
            }

            .p2-3 {
              font-size: 18px;
              font-family: "微軟正黑體";
              line-height: 50px;

              @media (max-width: 991px) {
                line-height: 20px;
                font-size: 16px;
                padding-right: 50px;
              }

              @media (max-width: 375px) {
                padding: 0;
              }
            }
          }
        }
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {

    outline: none;
  }

}

#section3 {
  overflow: hidden;

  .title3 {
    filter: drop-shadow(5px 5px 3px rgba(41, 41, 41, 0.7));
    width: 300px;


    img {
      margin: 50px 0;
      width: 100%;
    }
  }

  .container {
    overflow: hidden;
    height: 80vh;
    background-image: url("./網頁資料/section3-1/2-3bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 100px;

    @media (max-width: 991px) {
      height: 100vh;
    }

    @media (max-width: 768px) {
      height: 90vh;
      margin: auto;
    }
    @media (max-width: 375px) {
      height: 100vh;
      margin: auto;
    }
    .row {
      @media (max-width: 414px) {
     height: 29%;
      }
      @media (max-width: 375px) {

        height: 28%;
      }

      .allp1 {
        overflow: hidden;
        margin-top: 100px;
        margin-left: 50px;
        margin-bottom: 100px;

        @media (max-width: 991px) {
          margin-top: 50px;
        }
        @media (max-width: 414px) {
          margin: 0px;
          padding: 20px;
        }
        @media (max-width: 375px) {
          margin: 0px;
          padding: 20px;

        }

        .p3 {
          margin-bottom: 10px;
          font-size: 24px;
          font-family: "微軟正黑體";
          font-weight: bold;
          letter-spacing: 5px;
          @media (max-width: 414px) {
            margin-bottom: 5px;
          }
        }

        .line3-1 {
          position: relative;
        }

        .line3-1::after {
          content: "";
          border-top: 2px solid black;
          padding-left: 30px;
          position: absolute;
          top: 19px;
          left: calc(50% - -26px);
        }

        .p3-1 {
          font-family: "微軟正黑體";
          line-height: 40px;
          letter-spacing: 5px;
          @media (max-width: 414px) {
            line-height: 20px;
          }
          @media (max-width: 375px) {
            line-height: 20px;
          }
        }
      }
    }

    .row2 {
      display: flex;
      overflow: hidden;
      @media (max-width: 414px) {
        height: 100%;
      }
      @media (max-width: 375px) {
        height: 100%;
      }

      .swiper-container {
        margin: unset;
        height: 100%;

        @media (max-width: 375px) {}

        .c3-1 {
          background-image: url("./網頁資料/section3-1/認識宇治-小圖01.jpg");
          background-size: cover;
          background-position: center;
        }

        .c3-2 {
          background-image: url("./網頁資料/section3-1/認識宇治-小圖02.jpg");
          background-size: cover;
          background-position: center;
        }

        .c3-3 {
          background-image: url("./網頁資料/section3-1/認識宇治-小圖03.jpg");
          background-size: cover;
          background-position: center;
        }
      }

      .allp2 {


        @media (max-width: 991px) {
          margin-top: 50px;
        }
        @media (max-width: 414px) {

          margin-top: 10px;
          padding: 20px;
        }
        @media (max-width: 375px) {

          margin-top: 0px;
        }

        .p3 {
          margin-bottom: 10px;
          color: white;
          font-size: 24px;
          font-family: "微軟正黑體";
          font-weight: bold;
          letter-spacing: 5px;
          @media (max-width: 414px) {
       margin-bottom: 5px;
          }
        }

        .line3-2 {
          position: relative;
        }

        .line3-2::after {
          content: "";
          border-top: 2px solid rgb(255, 255, 255);
          padding-left: 30px;
          position: absolute;
          top: 19px;
          left: calc(50% - -85px);
        }

        .p3-2 {
          color: white;
          font-size: 18px;
          font-family: "微軟正黑體";
          line-height: 37px;
          letter-spacing: 5px;
          @media (max-width: 414px) {
            line-height: 20px;
          }
          @media (max-width: 375px) {
            line-height: 20px;
          }
        }
      }
    }
  }
}

#section4 {
  margin-bottom: 100px;
overflow: hidden;
  .title4 {
    filter: drop-shadow(5px 5px 3px rgba(41, 41, 41, 0.7));
    width: 350px;

    // margin-bottom: 0px;
    img {
      width: 100%;
    }
  }

  .sec4 {
    margin-top: 150px;
    width: 500px;

    @media (max-width: 991px) {
      margin: auto;
    }
    @media (max-width: 414px) {
      width: 300px;
      margin: auto;
    }

    @media (max-width: 375px) {
      width: 250px;
    }

    img {
      width: 100%;
    }
  }

  .sectp4-1 {

    margin-left: 130px;
    display: flex;

    @media (max-width: 991px) {
      margin: 0;
      margin-left: 50px;
    }
    @media (max-width: 414px) {
      margin-left: 0px;
    
    }
    @media (max-width: 375px) {
      margin-left: 0px;
    }

    .p2 {
      // padding: 0;
      padding-top: 120px;
      // margin-right:50px ;
      writing-mode: vertical-rl;
      font-size: 18px;
      font-family: "微軟正黑體";
      line-height: 40px;
      letter-spacing: 5px;

      @media (max-width: 991px) {
        padding-top: 120px;
      }
      @media (max-width: 414px) {
    
        line-height: 24px;
        padding-left: 14px;
      }
      @media (max-width: 375px) {
    
        line-height: 22px;
   
      }
    }

    .p1 {
      writing-mode: vertical-lr;
      font-size: 24px;
      font-family: "微軟正黑體";
      font-weight: bold;
      letter-spacing: 5px;


      @media (max-width: 375px) {
        font-size: 20px;

      }
    }

    .line {
      position: relative;
    }

    .line::before {
      content: "";
      border-left: 2px solid black;
      padding-top: 30px;
      position: absolute;
      top: 115px;
      right: calc(50% - 0px);
    }
  }
}

#section4-1 {
  // height: 60vh;
  margin-bottom: 150px;

  .container {
    @media (max-width: 768px) {
      margin: auto;
    }

    .p1 {
      margin-bottom: 20px;
      font-size: 24px;
      font-family: "微軟正黑體";
      font-weight: bold;
      letter-spacing: 5px;
    }

    .line4-1 {
      position: relative;
    }

    .line4-1::before {
      content: "";
      border-top: 2px solid black;
      padding-left: 30px;
      position: absolute;
      top: 19px;
      // right: calc(50% - 60px);
      right: calc(50% - 58px);
    }

    .allcard {
      display: flex;
      flex-wrap: wrap;

      .ca {
        margin-right: 50px;
        margin-bottom: 30px;

        @media (max-width: 991px) {}
        @media (max-width: 414px) {
          margin-right: 40px;
        }
        @media (max-width: 375px) {
          margin-right: 35px;
        }

        .catitle {
          font-family: "微軟正黑體";
          text-align: center;
          margin-bottom: 10px;

          h5 {
            font-weight: bold;
          }
        }

        .caimg {
          width: 150px;
          position: relative;

          @media (max-width: 375px) {
            width: 130px;
          }

          img {
            width: 100%;
          }
        }

        .caimg::after {
          content: url("/網頁資料/section4-1/4-1arrow.png");
          position: absolute;
          top: 50px;
          left: 165px;
          @media (max-width: 414px) {
            left: 155px;
          }
          @media (max-width: 375px) {
            left: 133px;
          }
        }
      }

      .spreads {
        margin-right: 50px;
        margin-top: 75px;
        margin-left: 20px;
        font-size: 24px;
        font-family: "微軟正黑體";
        font-weight: bold;
        letter-spacing: 3px;

        @media (max-width: 991px) {
          margin-right: 36px;
          margin-top: 75px;
          margin-left: 12px;
        }

        @media (max-width: 768px) {
          margin-right: 36px;
          margin-top: 75px;
          margin-left: 0px;
        }
      }

      .spreads {
        position: relative;
      }

      .spreads::after {
        content: url("/網頁資料/section4-1/4-1arrow.png");
        position: absolute;
        top: 4px;
        left: 110px;

        @media (max-width: 991px) {}
      }

      .spreads2 {
        margin-right: 50px;
        margin-top: 75px;
        margin-left: 20px;
        font-size: 24px;
        font-family: "微軟正黑體";
        font-weight: bold;
        letter-spacing: 3px;

        @media (max-width: 991px) {}

        @media (max-width: 768px) {}
        @media (max-width: 414px) {
          margin-right: 116px;
        }
        @media (max-width: 375px) {
          // margin: auto;

          margin-right: 92px;
          margin-bottom: 50px;
        }
      }

      .spreads2 {
        position: relative;
      }

      .spreads2::after {
        content: url("/網頁資料/section4-1/4-1arrow.png");
        position: absolute;
        top: 4px;
        left: 70px;

        @media (max-width: 991px) {}
        @media (max-width: 414px) {
          left: 135px;
        }
        @media (max-width: 375px) {
          left: 110px;
        }
      }

      .ca7 {


        .catitle7 {
          text-align: center;

          h5 {
            font-family: "微軟正黑體";

            font-weight: bold;
            letter-spacing: 3px;
          }
        }

        .caimg7 {
          width: 150px;

          @media (max-width: 375px) {
            width: 130px;
          }

          img {
            width: 100%;
          }
        }
      }
    }

    .row02 {
      .p1 {
        margin-bottom: 20px;
        font-size: 24px;
        font-family: "微軟正黑體";
        font-weight: bold;
        letter-spacing: 5px;
      }

      .line4-2 {
        position: relative;
      }

      .line4-2::after {
        content: "";
        border-top: 2px solid black;
        padding-left: 30px;
        position: absolute;
        top: 19px;
        // right: calc(50% - 60px);
        right: calc(50% - 75px);
      }

      .caimg12 {
        width: 150px;

        @media (max-width: 375px) {
          width: 130px;
        }

        img {
          width: 100%;
        }
      }

      .ca13 {
        margin-left: 40px;
        @media (max-width:414px) {
          margin-left: 0px;
        }
        @media (max-width: 375px) {
          margin-left: 8px;
        }

        .catitle {
          text-align: center;

          h5 {
            font-family: "微軟正黑體";
            font-weight: bold;
            letter-spacing: 3px;
          }
        }

        .caimg13 {
          position: relative;
          width: 150px;

          @media (max-width: 375px) {
            width: 130px;
          }

          img {
            width: 100%;
          }
        }
      }

      .caimg13::before {
        content: url("/網頁資料/section4-1/4-1arrow.png");
        position: absolute;
        top: 50px;
        left: -40px;
        @media (max-width: 414px) {
          left: -37px;
        }
      }
    }
  }
}

#section4-2 {
  .container {
    overflow: hidden;

    @media (max-width: 768px) {
      margin: auto;
    }

    .p1 {
      margin-bottom: 20px;
      font-size: 24px;
      font-family: "微軟正黑體";
      font-weight: bold;
      letter-spacing: 5px;
      @media (max-width: 414px) {
        margin-left: 30px;
        margin-bottom: 0px;
      }
      @media (max-width: 375px) {
        margin: 0;
        margin-left: 30px;
      }
    }

    .line4-3 {
      position: relative;
    }

    .line4-3::before {
      content: "";
      border-top: 2px solid black;
      padding-left: 30px;
      position: absolute;
      top: 18px;
      // right: calc(50% - 60px);
      left: calc(50% - -60px);
    }

    .p4-2 {
      font-size: 18px;
      font-family: "微軟正黑體";
      line-height: 45px;
      letter-spacing: 5px;
      margin-bottom: 20px;

      @media (max-width: 991px) {
        padding: 30px;
      }
    }

    .img4-2 {
      width: 900px;
      margin-bottom: 150px;

      @media (max-width: 991px) {
        width: 700px;
      }
      @media (max-width: 414px) {
        width: 400px;
      }
      @media (max-width: 375px) {
        width: 350px;
      }

      img {
        width: 100%;
      }
    }
  }
}

#section4-3 {
  margin-bottom: 100px;

  .container {
    overflow: hidden;
    @media (max-width: 768px) {
      margin: auto;
    }

    .alltea {
      background-image: url("./網頁資料/section4-3/27.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      overflow: hidden;

      .teacard {
        margin-bottom: 70px;

        .t {
          font-size: 20px;
          font-family: "微軟正黑體";
          font-weight: bolder;
          letter-spacing: 3px;
        }

        .pp {
          padding-left: 15px;
        }

        .teaca {
          display: flex;

          .teaimg {
            width: 200px;

            @media (max-width: 991px) {
              margin-top: 50px;
            }
            @media (max-width: 414px) {
              margin-top: 100px;
              width: 600px;
            }
            @media (max-width: 375px) {
              margin-top: 120px;
              width: 600px;
            }

            img {
              width: 100%;
            }
          }

          .teap {
            p {
              margin-top: 30px;
              font-family: "微軟正黑體";
              font-weight: bold;
              letter-spacing: 3px;
              line-height: 40px;

              @media (max-width: 991px) {
                margin: 0px;
                margin-top: 60px;
              }

            }
          }

          .teaimg2 {
            width: 200px;

            @media (max-width: 991px) {
              margin-top: 60px;
            }
            @media (max-width: 414px) {
              margin-top: 120px;
              width: 700px;
            }
            @media (max-width: 375px) {
              margin-top: 150px;
              width: 700px;
            }

            img {
              width: 100%;
            }
          }

          .teaimg3 {
            width: 150px;

            @media (max-width: 991px) {
              margin: 0;
              margin-top: 60px;
            }
            @media (max-width: 414px) {
              margin-top: 70px;
              width: 500px;
            }
            @media (max-width: 375px) {
              margin-top: 100px;
              width: 500px;
            }

            img {
              width: 100%;
            }
          }

          .teaimg4 {
            margin-top: 15px;
            width: 300px;

            @media (max-width: 991px) {
              margin: 0;
              margin-top: 90px;
            }
            @media (max-width: 414px) {
              margin-top: 150px;
              width: 1000px;
            }
            @media (max-width: 375px) {
              margin-top: 180px;
              width: 900px;
            }

            img {
              width: 100%;
            }
          }

          .teaimg5 {
            width: 180px;

            @media (max-width: 991px) {
              margin: 0;
              margin-top: 60px;
            }
            @media (max-width: 414px) {
              margin-top: 100px;
              width: 550px;
            }
            @media (max-width: 375px) {
              margin-top: 100px;
              width: 550px;
            }

            img {
              width: 100%;
            }
          }

          .teaimg6 {
            margin-top: 20px;
            margin-left: 15px;
            width: 280px;

            @media (max-width: 991px) {
              margin: 0;
              margin-top: 100px;
            }
            @media (max-width: 414px) {
              margin-top: 180px;
              width: 850px;
            }
            @media (max-width: 375px) {
              margin-top: 180px;
              width: 850px;
            }

            img {
              width: 100%;
            }
          }

          .teaimg7 {
            width: 250px;

            @media (max-width: 991px) {
              margin: 0;
              margin-top: 70px;
            }
            @media (max-width: 414px) {
              margin-top: 140px;
              width: 750px;
            }
            @media (max-width: 375px) {
              margin-top: 140px;
              width: 750px;
            }

            img {
              width: 100%;
            }
          }
        }

        .teaname {
          margin-left: 45px;
          font-size: 20px;
          font-family: "微軟正黑體";
          font-weight: bold;
          letter-spacing: 3px;

          @media (max-width: 991px) {
            margin-left: 15px;
          }
          @media (max-width: 414px) {
            margin-left: 32px;
          }
          @media (max-width: 375px) {
            margin: 0;
            margin-left: 27px;
          }
        }

        .teaname2 {
          margin-top: 10px;
          margin-left: 50px;

          @media (max-width: 991px) {
            margin: 0;
            margin-left: 25px;
          }
          @media (max-width: 414px) {
            margin-left: 46px;
          }
          @media (max-width: 375px) {
            margin: 0;
            margin-left: 40px;
          }
        }

        .teaname3 {
          margin-top: 10px;
          margin-left: 55px;

          @media (max-width: 991px) {
            margin: 0;
            margin-left: 40px;
          }
          @media (max-width: 414px) {
            margin-left: 46px;
          }
        }

        .teaname4 {
          margin-left: 55px;

          @media (max-width: 991px) {
            margin: 0;
            margin-left: 30px;
          }
          @media (max-width: 414px) {
            margin-left: 45px;
          }
          @media (max-width: 375px) {
            margin-left: 35px;
          }
        }

        .teaname5 {
          margin-left: 55px;

          @media (max-width: 991px) {
            margin: 0;
            margin-left: 30px;
          }
          @media (max-width: 414px) {
            margin-left: 50px;
          }
          @media (max-width: 375px) {
            margin-left: 40px;
          }
        }

        .teaname6 {
          margin-left: 55px;

          @media (max-width: 991px) {
            margin: 0;
            margin-left: 20px;
          }
          @media (max-width: 414px) {
            margin-left: 36px;
          }
          @media (max-width: 375px) {
            margin-left: 26px;
          }
        }

        .teaname7 {
          margin-left: 60px;

          @media (max-width: 991px) {
            margin: 0;
            margin-left: 30px;
          }
          @media (max-width: 414px) {
            margin-left: 52px;
          }
          @media (max-width: 375px) {
            margin-left: 42px;
          }
        }
      }
    }
  }
}

#section4-4 {
  position: relative;
  margin-bottom: 100px;

  .container {
    @media (max-width: 768px) {
      margin: auto;
    }

    .leaf {
      position: absolute;
      width: 200px;
      bottom: 30px;
      right: calc(50% - 418px);

      @media (max-width: 991px) {
        width: 120px;
        bottom: 70px;
        right: calc(50% - 400px);
      }

      @media (max-width: 768px) {
        width: 100px;
        bottom: 70px;
        right: calc(50% - 360px);
      }
      @media (max-width: 414px) {
        display: none;
      }
      @media (max-width: 375px) {
        display: none;
      }

      img {
        width: 100%;
      }
    }

    .allgra {
      .grade {
        margin-bottom: 30px;

        .gra {
          font-size: 24px;
          font-family: "微軟正黑體";
          font-weight: bold;
          letter-spacing: 5px;
        }

        .graline {
          position: relative;
        }

        .graline::before {
          content: "";
          border-top: 2px solid black;
          padding-left: 30px;
          position: absolute;
          top: 16px;
          left: calc(50% - -60px);
        }
      }

      .tp1 {
        display: flex;


        .tn1 {
          font-size: 20px;
          font-family: "微軟正黑體";
          font-weight: bold;
          letter-spacing: 3px;

          @media (max-width: 991px) {
            // width: 14%;
          }
          @media (max-width: 414px) {
            width: 28%;
          }
          // @media (max-width: 375px) {
          //   width: 28%;
          // }
        }

        .wi {
          width: 11%;

          @media (max-width: 991px) {
            width: 14%;
          }

          @media (max-width: 414px) {
            width: 52%;
          }
        }

        p {
          font-size: 18px;
          font-family: "微軟正黑體";
          margin-top: 3px;
          // padding-left: 20px;
          letter-spacing: 3px;

          @media (max-width: 991px) {}

          @media (max-width: 375px) {
            font-size: 16px;
          }
        }
      }

      .atp {
        display: flex;
        // position: relative;
      }

      // .atp::after{
      //   content: url('/網頁資料/section4-4/leaf_工作區域\ 1.png');
      //   position: absolute;
      //   top:

      // }
    }
  }
}

.setion4-5 {


  width: 100%;
  height: 40vh;
  background-image: url('./網頁資料/section4-5/green03.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.8;
}

#section5 {
  margin-bottom: 50px;

  // background-image: url('/網頁資料/section5/34\ 拷貝.jpg');
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-position:center ;
  .container {
  
    background-image: url("./網頁資料/section5/30\ 拷貝.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 768px) {
      margin: auto;
    }

    .title5 {
      filter: drop-shadow(5px 5px 3px rgba(41, 41, 41, 0.7));
      width: 350px;

      img {
        width: 100%;
      }
    }

    .celebrate {
      font-size: 20px;
      font-family: "微軟正黑體";
      font-weight: bold;
      text-align: center;
      letter-spacing: 3px;
      margin-bottom: 50px;
    }

    span {
      position: relative;
    }

    .cl1::before {
      content: "";
      border-top: 2px solid black;
      padding-left: 30px;
      position: absolute;
      top: 15px;
      left: -35px;
    }

    .cl2::after {
      content: "";
      border-top: 2px solid black;
      padding-left: 30px;
      position: absolute;
      top: 15px;
    }

    .allcsd {
      max-height: 1720px;
      display: flex;
      flex-direction: column;
      align-content: space-around;
      flex-wrap: wrap;

      // margin: auto;
      @media (max-width: 991px) {
        max-height: 1520px;
      }
      @media (max-width: 414px) {
        // margin: auto;
        flex-direction: row;

      }
      @media (max-width: 375px) {
        // margin: auto;
        flex-direction: row;

      }

      .csd {
        position: relative;
        width: 34%;
        // margin-left:35px ;
        margin-bottom: 80px;

        @media (max-width: 991px) {
          width: 40%;
        }
        @media (max-width: 414px) {
          width: 50%;
        }
        // @media (max-width: 375px) {
        //   width: 50%;
        // }





        .cs {
     
          width: 400px;
          overflow: hidden;
          @media (max-width: 991px) {
            width: 300px;
          }
          @media (max-width: 414px) {
            margin: auto;
            width: 160px;
          }
          @media (max-width: 375px) {
            margin: auto;
            width: 160px;
          }

          
          img {
            width: 100%;
            transition: 1s;
            --webkit-filter:brightness(.3);
            &:hover {
              // transition: 1s;
              transform: scale(1.3);
              --webkit-filter:brightness(1);
            }
          }
          // .mask {
          //   width: 400px;
          //   height: 266px;
          //   background-color: rgba(0, 0, 0, 0.7);
          //   position: absolute;
          //   transition: 1s;
          //   @media (max-width: 991px) {
          //     width: 300px;
          //     height: 200px;
          //   }
          //   @media (max-width: 375px) {
          //     width: 160px;
          //     height: 107px;
          //   }
          //   &:hover {
         
          //     background-color: rgba(0, 0, 0, 0);
        
          //   }
          
          // }

        }

        // .cs5 {
        //   margin-top:40px ;
        //   // width: 400px;

        //   img {
        //     width: 100%;
        //   }
        // }
        .cn {
          margin-top: 20px;
          font-size: 24px;
          font-family: "微軟正黑體";
          font-weight: bold;

          text-align: center;
          letter-spacing: 3px;

          @media (max-width: 991px) {}

          @media (max-width: 375px) {

            font-size: 14px;
          }
        }
      }
    }
  }
}

#section5-1 {
  .container {
    overflow: hidden;
    @media (max-width: 768px) {
      margin: auto;
    }

    .sweet {
      font-size: 20px;
      font-family: "微軟正黑體";
      font-weight: bold;
      text-align: center;
      letter-spacing: 3px;
      margin-bottom: 50px;
    }

    span {
      position: relative;
    }

    .s1::before {
      content: "";
      border-top: 2px solid black;
      padding-left: 30px;
      position: absolute;
      top: 15px;
      left: -35px;
    }

    .s2::after {
      content: "";
      border-top: 2px solid black;
      padding-left: 30px;
      position: absolute;
      top: 15px;
    }

    .allswet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @media (max-width: 991px) {
      }

      @media (max-width: 375px) {
    
      }

      .swet {

        margin-bottom: 100px;
        position: relative;
        @media (max-width: 414px) {
          width: 50%;
        }
        @media (max-width: 375px) {
          width: 50%;
        }

        .swimg {
          width: 250px;
          overflow: hidden;


          @media (max-width: 991px) {
            width: 200px;
          } 
          @media (max-width: 414px) {
            margin: auto;
            width: 150px;
          }

          @media (max-width: 375px) {
            margin: auto;
            width: 150px;
          }

          img {
            width: 100%;
            transition: 1s;

            &:hover {
              transform: scale(1.5);
            }
          }
        }

        .reads {
          cursor: pointer;
          font-size: 24px;
          color: white;
          font-family: "微軟正黑體";
          font-weight: bold;
          letter-spacing: 3px;
          transition: 1s;
          position: absolute;
          bottom: 0px;
          left: calc(50% - 77px);
          @media (max-width: 991px) {
            font-size: 20px;
            left: calc(50% - 66px);
          }
          @media (max-width: 414px) {
            font-size: 18px;
            left: calc(50% - 71px);
            width: 100%;
            padding-left: 20px;
            font-size: 18px;
          }
          @media (max-width: 375px) {
            font-size: 18px;
            left: calc(50% - 71px);
            width: 100%;
            padding-left: 20px;
            font-size: 18px;
          }

          &:hover {
            transform: translate(0px, -5px);
       
          }
          :hover.rowline::before{
            border: 1px solid white ;
            width: 18%;
            transition: 0.25s;
          }
        
        }
      }

      .rowline{
      position: relative; 
     
      }
      .rowline::before{
        content: "";
        width: 0%;
        position: absolute;
        top: 18px;
        left:calc(50% - 110px) ;
        @media (max-width: 991px) {
          top: 16px;
          left:calc(50% - 95px) ;
        } 
        @media (max-width: 375px) {
          top: 14px;
          left:calc(50% - 83px) ;
        }
      }


      h5 {
        letter-spacing: 3px;
        font-family: "微軟正黑體";
        font-weight: bold;
      }

      .modal-body {
        font-family: "微軟正黑體";
      }
    }
  }
}

#section6 {
  margin-bottom: 30px;

  .title6 {
    filter: drop-shadow(5px 5px 3px rgba(41, 41, 41, 0.7));
    width: 350px;

    img {
      width: 100%;
    }
  }
}

footer {


  background-image: url("./網頁資料/footer/09.jpg");
  // background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .icons {
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 30px;


    @media (max-width: 768px) {}

    .icon1 {
      width: 40px;

      img {
        width: 100%;
      }
    }

    .icon2 {
      width: 40px;
      margin: 0 15px;

      img {
        width: 100%;
      }
    }

    .icon3 {
      width: 40px;
      margin-top: 5px;

      img {
        width: 100%;
      }
    }
  }

  .finfos {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 768px) {}

    .infos {
      font-size: 26px;
      font-family: "微軟正黑體";
      font-weight: bold;
      letter-spacing: 3px;
    }

    .finfo2 {
      margin: 10px 0;
    }
    .finfo3 {
      @media (max-width: 414px) {
        margin-left: 30px;
      }
    }
  }

  .ftea {
    display: flex;
    justify-content: center;
    margin: 20px 0;

    @media (max-width: 991px) {}

    @media (max-width: 768px) {}
  }
// .fr{
  // display: flex;

  .allform {


  //   flex-direction: column;
  //   justify-content: center;
  // align-items: center;


    margin-top: 50px;

    @media (max-width: 991px) {
      padding-left: 200px;
    }

    @media (max-width: 768px) {
  
    padding-left: 100px;
    } 
    @media (max-width: 414px) {

      padding-left: 0px;
      margin-left: 100px;
    }
    @media (max-width: 375px) {
      margin-left: 10px;
     
    }

   

    label {
      font-size: 20px;
      font-family: "微軟正黑體";
      font-weight: bold;
      letter-spacing: 3px;
    }

    .col-sm-2 {
      max-width: 10%;

      @media (max-width: 991px) {
        max-width: 12%;
      }

      @media (max-width: 768px) {
        max-width: 30%;
      }

      @media (max-width: 375px) {
        max-width: 34%;
      }
    }

    .form-control {
      border-radius: 0.8rem;
      width: 70%;

      @media (max-width: 375px) {
        width: 100%;
      }
    }
  }
}
  .hrstyle {
    margin: 0;
    margin-top: 30px;
    border: 0;
    height: 2px;
    background: #727272;
    // background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }

  .copy {
    text-align: center;
    font-family: "微軟正黑體";
    font-weight: bold;
    letter-spacing: 3px;
  }

  .opinion {
    height: 250px;
  }
// }